 <!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
</style>
</head>
<body>
 <h1><%= link_to 'Back ',controller: 'users',  action: 'index' %> </h1>

 
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><center> <h4>List of bikes </h4></center> </div>
 

  <!-- Table -->
  <table class="table">
    <tr>
        <th>ID </th>
        <th>Bike Name </th>
        <th>Bike Model</th>
        <th>bike Type</th>
        <th> Owner </th>
        <th> Review </th>
        <th> Book </th>
        <th> image </th>
    </tr>
     <tr>
         <% @bikes.each do |f| %>
        <th><%= f.id         %> </th>
        <th><%= f.bikename   %> </th>
        <th><%= f.bikemodel  %> </th>
        <th><%= f.biketype   %> </th>
        <th><%= f.user_id  %> </th>
        <th><%=link_to 'Reviews',{:controller =>:reviews , :action =>:new,:id =>f.id },class: "form-control" %></th>
        <th><%=link_to 'Book'   ,{:controller =>:bookings ,:action =>:new,:id =>f.id} ,class: "form-control" %></th>
        <th><%= image_tag f.image_url  %> </th>
    </tr>
     <% end %>
  </table>
</div>
 </body>
</html>
